.App {
  text-align: center;
  margin-top: 10%;
}
#s {
  font-size: 5em;
  color: green;
  margin-bottom:1%;
  font-family: 'Bangers', cursive
}
input {
  width: 13%;
}
input:hover {
  background-color: green;
}
button:hover {
  background-color: green;
}
