.App {
  text-align: center;
  margin-top: 10%;
}
#s {
  font-size: 6em;
  color: green;
  margin-bottom:1%;
  font-family: 'Bangers', cursive
}
input {
  width: 13%;
  position: center;
}
input:hover {
  background-color: lightgreen;
}

button:hover {
  background-color: lightgreen;
}
p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
}
